.video-container {
  display: flex;
  flex-wrap: wrap; /* This will wrap the cards if they don't fit in one line */
}

.video-card {
    max-width: 500px;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .example-header-image {
    background-image: url('/assets/neuroicon.png');
    background-size: cover;
  }

  video {
    width: 100%;
    height: auto;
  }
  