<div class="video-container">
  <mat-card class="video-card">
    <mat-card-header>
      <mat-form-field appearance="fill">
        <mat-label>Select Body Part</mat-label>
        <mat-select [(value)]="selectedBodyPart" (selectionChange)="onBodyPartChange($event)">
          <mat-option *ngFor="let part of bodyParts" [value]="part">{{ part }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-header>

    <mat-card-content class="video-card-content">
      <ng-container *ngFor="let video of videos">
        <!-- Check if the video URL is a YouTube URL -->
        <ng-container *ngIf="isYouTubeUrl(video.url); else videoPlayer">
          <iframe [src]="sanitizedUrl(video.url)" frameborder="0" allowfullscreen></iframe>
        </ng-container>
        <ng-template #videoPlayer>
          <video controls>
            <source [src]="video.url" type="video/mp4" />
          </video>
        </ng-template>
      </ng-container>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
