<mat-sidenav-container>
    <mat-sidenav #sidenav [(opened)]="isSidebarOpened" mode="side" fixedInViewport="true">
        <app-sidebar [isSidebarOpened]="isSidebarOpened"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-topbar (toggleSidebar)="toggleSidebar()"></app-topbar>

      
      <router-outlet></router-outlet>

      @if (authService.currentUserSig() == null) {
        <div class="loginRegister">
          <button mat-raised-button routerLink="/login">Login</button>
          <button mat-raised-button routerLink="/register">Register</button>
        </div>
      }
    
    </mat-sidenav-content>
</mat-sidenav-container>