/* .mat-drawer-content, .mat-sidenav-content {
    background-color: white;
    color: black;
  } */

  .mat-sidenav-container {
    height: 100%;
  }

  .loginRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 10px;
  }



