<div class="menu-items">
  <button mat-button routerLink="home"><mat-icon>home</mat-icon>Home</button>
  <button mat-button routerLink="video"><mat-icon>fitness_center</mat-icon>Exercise Selection</button>
  <button mat-button><mat-icon>analytics</mat-icon>Progress Tracking</button>
  <button mat-button><mat-icon>settings</mat-icon>Settings</button>
  <button mat-button><mat-icon>account_circle</mat-icon>Profile</button>
  <button mat-button (click)="logout()"><mat-icon>logout</mat-icon>Log Out</button>
</div>
