<mat-card class="home-welcome-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome to NeuroRecoveryApp, {{authService.currentUserSig()?.username}}!</mat-card-title>
      <mat-card-subtitle>Home Page</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Phasellus nec porttitor nulla. Mauris sodales libero massa, vel congue nisl sagittis vitae. 
        Donec tincidunt ex quis massa ullamcorper luctus. Sed euismod justo in mi placerat imperdiet. 
        Ut eu felis velit. Curabitur felis dolor, aliquet nec nunc et, molestie placerat nunc. 
        Etiam lacinia ante in bibendum fringilla. Proin venenatis lectus eu dolor tincidunt vehicula. 
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>

  
