.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.example-container {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.example-container mat-form-field {
    display: block;
    width: auto;
    max-width: 300px;    
}
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  .submit-button {
    margin-top: 20px;
  }


